<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="noOfPrincipalComponents_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<entry key="noOfPrincipalComponents" type="xint" value="3"/>
<config key="featureColumns_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_columnfilter"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="featureColumns">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="19"/>
<entry key="0" type="xstring" value="totalKW"/>
<entry key="1" type="xstring" value="avgYearlyKW"/>
<entry key="2" type="xstring" value="avgMonthlyKW"/>
<entry key="3" type="xstring" value="avgWeeklyKW"/>
<entry key="4" type="xstring" value="avgMonday"/>
<entry key="5" type="xstring" value="avgTuesday"/>
<entry key="6" type="xstring" value="avgWednesday"/>
<entry key="7" type="xstring" value="avgThursday"/>
<entry key="8" type="xstring" value="avgFriday"/>
<entry key="9" type="xstring" value="avgSaturday"/>
<entry key="10" type="xstring" value="avgSunday"/>
<entry key="11" type="xstring" value="avgDaily"/>
<entry key="12" type="xstring" value="avg_7to9"/>
<entry key="13" type="xstring" value="avg_9to13"/>
<entry key="14" type="xstring" value="avg_13to17"/>
<entry key="15" type="xstring" value="avg_17to21"/>
<entry key="16" type="xstring" value="avg_21to7"/>
<entry key="17" type="xstring" value="avg_BD"/>
<entry key="18" type="xstring" value="avg_WE"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="meterID"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
</config>
</config>
</config>
<config key="failOnMissingValues_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="failOnMissingValues" type="xboolean" value="false"/>
<config key="targetDimensionsMode_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="targetDimensionsMode" type="xstring" value="quality"/>
<config key="minQuality_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_double"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="minQuality" type="xdouble" value="96.0"/>
<config key="replaceInputColumns_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="replaceInputColumns" type="xboolean" value="false"/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="PCA at 96%%%00013%%00010Information"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="267"/>
<entry key="y-coordinate" type="xint" value="159"/>
<entry key="width" type="xint" value="106"/>
<entry key="height" type="xint" value="30"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="9"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.bigdata.spark.node.mllib.reduction.pca.MLlibPCANodeFactory2"/>
<entry key="node-name" type="xstring" value="Spark PCA"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Extension for Apache Spark Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.bigdata.spark.node"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.1.0.v201911271610"/>
<entry key="node-feature-name" type="xstring" value="KNIME Extension for Apache Spark"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.bigdata.spark.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.1.1.v202001312016"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Spark PCA"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
<config key="port_2">
<entry key="index" type="xint" value="2"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
